<div class="user-panel" style="height: 160px; text-align:center; margin-right: 18px">
    <div class="image">
        <img src="~/Content/assets/images/avatar.png" alt="User Image" style="width: 80px; height: 80px; margin-top: 10px">
    </div>
    <p style="color: white; font-size: 2rem">@ViewBag.FullName</p>
</div>
